body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0; /* Elimina el margen y el relleno predeterminados del navegador */
    background-color: #c3e1fc; /* Establece el color de fondo del cuerpo */
}

header {
    background-color: rgb(0, 0, 0); /* Establece el color de fondo del encabezado en negro */
    color: rgb(255, 255, 255); 
    padding: 10px 0; 
    text-align: center; /* Centra el texto del encabezado */
}

nav {
    background-color: rgb(119, 255, 194); /* Establece el color de fondo de la barra de navegación */
    border-radius: 20px; /* Añade bordes redondeados a la barra de navegación */
    display: inline-block; 
    padding: 10px 20px; 
}

nav ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: center; /* Centra los elementos dentro de la barra de navegación */
}

nav ul li {
    margin: 0 10px; 
}

nav ul li a {
    text-decoration: none; 
    color: rgb(0, 0, 0); /* Establece el color inicial del texto de los enlaces */
    padding: 10px 20px; 
    transition: background-color 0.3s ease, color 0.3s ease; 
    font-size: 16px; 
    border-radius: 10px; /* Añade bordes redondeados a los enlaces */
}

nav ul li a:hover {
    background-color: #ff74fd; /* Establece el color de fondo del enlace cuando se pasa el mouse sobre él */
    color: #000000; /* Establece el color del texto del enlace cuando se pasa el mouse sobre él */
}

.highlight-section {
    background-color: rgb(255, 255, 255); /* Establece el color de fondo de la sección destacada */
    padding: 20px; 
    margin: 0 -20px; 
    border-radius: 80px;
}

main {
    padding: 50px;
}

.history-mission-container {
    display: flex; /* flexbox para organizar los cuadros de historia y misión en una fila */
    justify-content: space-between; /* Distribuye los cuadros equitativamente con espacio entre ellos */
    margin-top: 50px; 
}

.box-content {
    background-color: #f2f2f2; /* Establece el color de fondo de los cuadros */
    width: 45%; /* Establece el ancho de los cuadros para que ocupen aproximadamente la mitad del contenedor */
    padding: 20px; /* Añade relleno interno a los cuadros */
    border-radius: 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.box-content h2 {
    font-size: 1.5em; /* Establece el tamaño de fuente de los encabezados dentro de los cuadros */
}

.box-content p, .box-content ul {
    font-size: 1.1em; /* Establece el tamaño de fuente del texto dentro de los cuadros */
}

section {
    margin-bottom: 20px; /* Añade un margen inferior a las secciones para separarlas visualmente */
}

footer {
    background-color: rgb(0, 0, 0); /* Establece el color de fondo del pie de página en negro */
    color: white; 
    text-align: center; 
    padding: 10px 0; /* Añade relleno superior e inferior en el pie de página */
}

h2 {
    color: #000000;
}

.rounded-corner {
    border-radius: 20px;
}

.donation-item {
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    transition: transform 0.6s ease; /* Ajusta la duración y la curva de aceleración de la transición */
}

.donation-item:hover {
    transform: scale(1.05);
}

.donation-item:hover {
    font-size: 21px; /* Cambia este valor al tamaño de letra que desees al pasar el mouse */
}


.donation-list-container ul {
    display: flex;
    justify-content: space-around; /* Esto distribuirá los elementos uniformemente */
    list-style-type: none; /* Esto quita los puntos de lista */
    padding: 0; /* Elimina el espacio interior del elemento ul */
}

.content {
    display: flex;
    align-items: flex-start;
}

.content p {
    flex: 1;
    margin-right: 20px;
    font-size: 20px; /* Cambia este valor al tamaño de letra que desees */
    color: rgb(0, 0, 0);
}

.content img {
    max-width: 400px;
    height: auto;
    flex-shrink: 0;
    border-radius: 50px; /* Añade esquinas redondeadas a las imágenes */
}

.p {
    font-size: 20px;
}

.hidden-details-content {
    display: none; /* Oculta el contenido de donación por defecto */
    border: 5px solid black; /* Agrega un contorno */
    padding: 10px; /* Añade espacio alrededor del contenido */
    font-size: 18px; /* Ajusta este valor según lo desees */
}

.show {
    display: block; /* Muestra el contenido de donación cuando es necesario */
}

/* Estilo para las imágenes de donaciones */
img {
    border-radius: 60px; /* Ajusta el valor según el grado de redondez que desees */
    margin-bottom: 20px; /* Espacio entre las imágenes y el texto */
}